body {
	background-image: url(./images/hot3.jpg); /*fond de la page d'accueil*/
	background-repeat: no-repeat;
}

.titre-acc {
	font-weight: 800; /*style et position du titre*/
	text-align: center;
	font-family: georgia serif;
}

.bouton{ /*style et centrage des boutons*/
	display: inline-block;
	list-style-type: none;
	margin-left : auto;
  	margin-right : auto;
  	width : 250px;
  	text-align : center;
  }

.bouton a{ /*couleur des bouton*/
	color: #dddcdc;
	background-color: #114068;
	text-decoration: none;
	font-size: 35px;
	border-radius: 100px;
}

.bouton:hover a{ /*changement de couleur des bouton*/
	color: #114068;
	background-color: #dddcdc;
	transition: 0.3s all;
}

.box { /*boite 950px*630px*/
	display: grid; 
	grid-template-columns: 600px;
	grid-template-rows: 250px 380px;
}
.box1 { /*boite du texte*/
	background-color: #8c6a5c;
	border: 1px solid black;
	border-radius: 10px;
}

.txt { /*caractéristiques du texte*/
	font-size: 20px;
	font-family: Times;
	font-style: italic;
	color: black;
}

.footer { /*caractéristiques du footer*/
	background-color: #114068;
	height: 200px;
	font-style: italic;
	padding-bottom: 0px;
	text-decoration: none;
	width: auto;
}

.footer a{ /*couleur des bouton*/
	color: #dddcdc;
	text-decoration: none;
}

@media screen and (max-width: 1285px)
{
	.h2 {
		font-size: 5px;
	}
	.txt {
		font-size: 15px;
	}

}

@media screen and (max-width: 1280px)
{
	.h2 {
		font-size: 10px;
	}
	.txt {
		font-size: 15px;
	}
	.box {
		grid-template-rows: 250px 380px 180px;
	}

}

@media screen and (min-width: 720px)
{
	.h2 {
		font-size: 5px;
	}
	.txt {
		font-size: 14px;
	}
}