body {
	background-color: #5f7f9e;
}

.titre-con {
	font-weight: 800; /*style et position du titre*/
	text-align: center;
	
}

.bouton { /*style et centrage des boutons*/
	display: inline-block;
	list-style-type: none;
	margin-left : auto;
  	margin-right : auto;
  	width : 250px;
  	text-align : center;  
  }

.bouton a { /*couleur des bouton*/
	color: #dddcdc;
	background-color: #114068;
	text-decoration: none;
	font-size: 35px;
	border-radius: 100px;
}

.bouton:hover a { /*changement de couleur des bouton*/
	color: #114068;
	background-color: #dddcdc;
	transition: 0.3s all;
}

.box { /*boite divisé en 2 colonne de 300px de hauteur*/
	display: grid;
	border: 1px solid black;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 300px;
}

.box1 { /*boite1 formulaire*/
	border: 1px solid black;
	background-color: #dddcdc;
	text-align: center;
}

.box2 { /*boite2 texte*/
	border: 1px solid black;
	background-color: #dddcdc;
	text-align: center;
}

.box2 ul {
	list-style-type: none;
}