body {
	background-color: #5f7f9e;
}

.titre-des {
	font-weight: 800; /*style et position du titre*/
	text-align: center;
	
}

.bouton { /*style et centrage des boutons*/
	display: inline-block;
	list-style-type: none;
	margin-left : auto;
  	margin-right : auto;
  	width : 250px;
  	text-align : center;  
  }

.bouton a { /*couleur des bouton*/
	color: #dddcdc;
	background-color: #114068;
	text-decoration: none;
	font-size: 35px;
	border-radius: 100px;
}

.bouton:hover a { /*changement de couleur des bouton*/
	color: #114068;
	background-color: #dddcdc;
	transition: 0.3s all;
}

.box { /*boite 1200px*500px*/
	display: grid;
	background-color: #114068;
	border : 1px solid black;
	grid-template-columns: 600px 600px;
	grid-template-rows: 250px 250px;
	grid-column-gap: 10%;
	grid-row-gap: 10px 
}

.box2 { /*fond texte chambre*/
	border: 5px solid #dddcdc;
	background-color: #b3603d;
}

.box3 { /*fond texte resto*/
	border: 5px solid #dddcdc;
	background-color: #8c6a5c;
}

.bordimage {
	border: 5px solid #dddcdc;
}

.txt { /*caractéristique textes*/
	font-size: 20px;
	font-family: Times;
	font-style: italic;
	color: black;
}

@media screen and (max-width: 1285px)
{
	li {
		font-size: 12px;
	}
	
	.txt{
		font-size: 15px;
	}

	.box {
		grid-template-columns: 600px 500px;
	}

}

@media screen and (max-width: 1280px)
{
	li {
		font-size: 12px;
	}
	
	.txt{
		font-size: 15px;
	}

	.box {
		grid-template-columns: 600px 500px;
	}

}