body {
	background-color: #5f7f9e;
}

.titre-act {
	font-weight: 800; /*style et position du titre*/
	text-align: center;
	
}

.bouton{ /*style et centrage des boutons*/
	display: inline-block;
	list-style-type: none;
	margin-left : auto;
  	margin-right : auto;
  	width : 250px;
  	text-align : center;  
  }

.bouton a{ /*couleur des bouton*/
	color: #dddcdc;
	background-color: #114068;
	text-decoration: none;
	font-size: 35px;
	border-radius: 100px;
}

.bouton:hover a{ /*changement de couleur des bouton*/
	color: #114068;
	background-color: #dddcdc;
	transition: 0.3s all;
}

.box { /*boite 1000px*1200px*/
	display: grid;
	background-color: #114068;
	border : 1px solid black;
	grid-template-columns: 500px 500px; 
	grid-template-rows: repeat(2, 600px);
	grid-column-gap: 20%; 
}

.bordimage {
	border: 5px solid #dddcdc;
}

p {
	font-size: 20px;
	font-family: Times;
	font-style: italic;
	color: black;
}

ul {
	font-size: 20px;
	font-family: Times;
	font-style: italic;
	color: black;
}

li {
	font-size: 20px;
	font-family: Times;
	font-style: italic;
	color: black;
}

@media screen and (min-width: 720px)
{
	.box {
		grid-template-columns: 50% 50%;
	}
}