body {
	background-color: #5f7f9e;
}

.titre-char {
	font-weight: 800; /*style et position du titre*/
	text-align: center;
	
}

.bouton { /*style et centrage des boutons*/
	display: inline-block;
	list-style-type: none;
	margin-left : auto;
  	margin-right : auto;
  	width : 250px;
  	text-align : center;  
  }

.bouton a { /*couleur des bouton*/
	color: #dddcdc;
	background-color: #114068;
	text-decoration: none;
	font-size: 35px;
	border-radius: 100px;
}

.bouton:hover a { /*changement de couleur des bouton*/
	color: #114068;
	background-color: #dddcdc;
	transition: 0.3s all;
}

.pdf { /*centrer les pdf*/
	padding: 30px;
	margin: 30px;
}